:root {
  --primary: #ffffff;
  --secondary: #000000;
  --accent: #777777;
  --primary-trans: rgba(255, 255, 255, 0.5);
  --secondary-trans: rgba(0, 0, 0, 0.5);
  --cell-width: 10vw;
  --cell-height: 10px;
  --default-size: 1rem;
  --header-height: 10vh;
  --bold: 700;
  --normal: 600;
  --light: 500;
  --sans-serif: "Arial", sans-serif;
  --serif: "Times", serif;
  --cursive: cursive;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #008000;
}

.dark {
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #999999;
  --primary-trans: rgba(0, 0, 0, 0.5);
  --secondary-trans: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--serif);
  font-weight: var(--normal);
}

body .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 15px var(--default-size);
  background-color: var(--primary);
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--secondary);
}

body .header #title {
  font-size: calc(var(--default-size) * 1.5);
}

#title a {
  text-decoration: none;
  color: var(--secondary);
}

.header .headerBtns {
  display: flex;
  gap: var(--default-size);
}

.headerBtns button, #closeBtn {
  background-color: transparent;
  border: none;
  font-size: var(--normal);
  color: var(--secondary);
  cursor: pointer;
}

.headerBtns button:hover {
  padding: 10px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  top: -11px;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: var(--header-height);
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px var(--default-size);
  gap: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--secondary);
  border-top: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in, background-color 0.5s ease-in;
}

.dropdown button {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary);
}

.disappear {
  transition: opacity 1s ease;
  opacity: 0;
  visibility: hidden;
}

.dropdown button:hover {
  text-decoration: underline;
}

main {
  margin-top: var(--header-height);
  min-height: calc(100vh - (var(--header-height) * 2) - 10px);
}

#reportTable {
  max-width: 100%;
  margin: calc(var(--header-height) + 10px) 5px;
  font-size: calc(var(--default-size) * 0.8);
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: var(--default-size);
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

#reportTable tbody {
  width: 100%;
}

#reportTable thead,
#reportTable tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#reportTable tr {
  margin-bottom: 10px;
}

#reportTable td::-webkit-scrollbar,
#reportTable th::-webkit-scrollbar {
  display: none;
}

#reportTable #menace td {
  width: 1000%;
  font-size: var(--default-size);
  display: flex;
  justify-content: space-between;
  padding: calc(var(--default-size) * 0.7) var(--default-size);
}

#reportTable #menace td div {
  display: flex;
  gap: calc(var(--default-size) * 0.5);
}

#reportTable #menace div button {
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: calc(var(--default-size) * 1.2);
  color: var(--secondary);
  cursor: pointer;
}

#reportTable #menace div button:first-child:hover {
  color: var(--green);
}

#reportTable #menace div button:nth-child(2):hover {
  color: var(--orange);
}

#reportTable #menace div button:last-child:hover {
  color: var(--red);
}

#reportTable td,
#reportTable th {
  width: 10%;
  overflow: auto;
  display: flex;
  padding: 5px 2px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  cursor: cell;
}

#reportTable th {
  background-color: var(--accent);
  color: var(--primary);
}

footer {
  border-top: 2px solid var(--secondary);
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: var(--default-size);
  justify-content: center;
  font-style: italic;
}

footer:hover {
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-trans);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-open {
  visibility: visible;
  opacity: 1;
}

.modalBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  max-width: 500px;
  background-color: var(--primary);
  padding: calc(var(--default-size) * 2);
  border-radius: var(--default-size);
  border: 1px solid var(--secondary);
}

#insertForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
  margin: var(--default-size) 0;
}

#modalPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--default-size) 0;
}

#modalPanel h2, #modalPanel span {
  font-size: calc(var(--default-size) * 1.5);
  font-weight: var(--bold);
}

#insertForm input, #insertForm #insertBtn {
  padding: 5px 10px;
  font-size: var(--default-size);
  font-weight: var(--normal);
  border: 1px solid var(--secondary);
  border-radius: 10px;
}

#insertForm input::placeholder, #insertForm #insertBtn::placeholder {
  color: var(--accent);
}

#insertForm #insertBtn {
  cursor: pointer;
  padding: 10px;
}

#insertForm #insertBtn:hover {
  transform: translateY(2px);
}

#insertForm label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}