body {
  position: relative;
  font-family: Arial, sans-serif;
  background-color: var(--color-red);
  color: var(--color-white);
  line-height: 1.6;
  font-size: var(--default-size);
  min-height: var(--def-height);
  width: var(--full-width);
  padding: var(--default-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  margin-bottom: var(--default-size);
}

main {
  margin-bottom: calc((var(--default-size) * 2) + calc(--avg-size));
  overflow: auto;
}

.addSect {
  position: absolute;
  bottom: calc((var(--def-height) / 10) + (var(--avg-size) * 2));
  left: 0;
  width: var(--full-width);
  background-color: var(--color-green);
  height: calc((var(--def-height) / 10));
  display: flex;
  padding: var(--default-size);
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.addSect input {
  flex: 1;
  padding: var(--avg-size);
  border-radius: var(--avg-size);
  border: 1px solid var(--color-black);
  margin: 0 var(--default-size);
  font-size: var(--default-size);
  font-weight: var(--normal);
}

.addSect button {
  position: absolute;
  right: calc(var(--default-size) * 3);
  width: calc(var(--default-size) * 2);
  height: calc(var(--default-size) * 2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-green);
  color: var(--color-white);
  cursor: pointer;
}

.addSect button:hover {
  filter: brightness(90%);
}

.addSect button span {
  font-size: calc(var(--default-size) * 1.2);
  transform: translateX(2px) translateY(1px) rotate(-4deg);
}

.messagesDisplay {
  width: var(--full-vw);
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid var(--color-black);
  width: var(--full-vw);
  border-right: none;
  border-left: none;
  padding: var(--default-size);
}

.messageActions {
  display: flex;
  justify-content: space-between;
  width: calc(var(--full-width) / 2);
  margin-top: var(--avg-size);
}

.messageActions button {
  background-color: transparent;
  border: none;
}

.messageActions button span {
  font-size: var(--default-size);
  color: var(--color-white);
}

.messageActions button span:hover {
  color: var(--color-gold);
}

.content {
  margin: var(--avg-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--avg-size);
  color: var(--color-gold);
}

.content h3 {
  color: var(--color-black);
}

.miniInfo {
  display: flex;
  justify-content: space-evenly;
  width: var(--full-vw);
}
