body {
    font-family: Arial, sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
    line-height: 1.6;
    font-size: var(--default-size);
    min-height: var(--def-height);
    width: var(--full-width);
    padding: var(--default-size) calc(var(--default-size) / 2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Times', serif;
    font-weight: var(--bold);
}

#users-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--default-size) / 4);
    margin: var(--default-size) 0;
}

#users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--default-size);
    margin-top: calc(var(--default-size) * 2);
}

.btns {
    display: flex;
    gap: calc(var(--default-size) / 2);
}

.btns button {
    background-color: var(--color-blue);
    border: none;
    color: var(--color-white);
    width: 50px;
    height: 50px;
    padding: calc(var(--default-size) / 4);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--default-size);
    font-weight: var(--bold);
}

.btns button:hover {
    filter: brightness(90%);
    border: 1px solid var(--color-white);
}

.user-card {
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    border-radius: 10px;
    padding: calc(var(--default-size) / 2) var(--default-size);
    color: var(--color-black);
    margin: 1rem 0;
    width: 80%;
    height: 80px;
    box-shadow: 0 4px 8px var(--shadow-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--default-size);
}

.user-card button {
    color: var(--color-black);
    border: 1px solid var(--color-black);
    padding: 0.5rem;
    cursor: pointer;
    font-size: var(--avg-size);
    font-weight: var(--bold);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-self: flex-end;
}

.user-card button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.user-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-size);
    flex: 1;
}
/* 
.user-select:checked {
    
} */

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 768px) {
    .user-info {
        display: flex;
        flex-direction: row;
        flex: 1;
        gap: var(--default-size);
        justify-content: space-evenly;
    }
}

.user-card input[type="checkbox"] {
    filter: brightness(90%);
    border: 1px solid var(--color-white);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-edit-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 1rem;
}

.user-actions {
    display: flex;
    gap: var(--avg-size);
}

.user-actions button span {
    font-size: calc(var(--default-size) * 0.8);
}

footer {
    margin-top: auto;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-white);
}