body {
    font-family: Arial, sans-serif;
    background-color: var(--color-green);
    color: var(--color-gold);
    line-height: 1.6;
    font-size: var(--default-size);
    min-height: var(--def-height);
    width: var(--full-width);
    padding: var(--default-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Times', serif;
    font-weight: var(--bold);
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    color: var(--color-black);
}

button {
    color: var(--color-white);
    background-color: var(--color-red);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: var(--default-size);
    font-weight: var(--bold);
    border-radius: 5px;
}

button:hover {
    filter: brightness(90%);
    border: 1px solid var(--color-black);
}

#wish-form {
    background-color: var(--color-gold);
    border: 2px solid var(--color-black);
    border-radius: 10px;
    padding: 1rem;
    color: var(--color-red);
    margin: 1rem 0;
    width: 80%;
    box-shadow: 0 4px 8px var(--shadow-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap: var(--default-size);
}

input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    font-size: var(--default-size);
    font-family: Arial, sans-serif;
}

.wish-card {
    background-color: var(--color-gold);
    color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    width: 80%;
    box-shadow: 0 4px 8px var(--shadow-light);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.wish-date {
    font-size: 0.8rem;
    color: var(--color-red);
    font-weight: var(--bold);
}

footer {
    margin-top: auto;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-white);
}